services:
  rsshub:
    image: diygod/rsshub:chromium-bundled
    restart: unless-stopped
    environment:
      NODE_ENV: production
      ACCESS_KEY: ${ACCESS_KEY}
      PROXY_URI: ${PROXY_URI}
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rsshub.rule=Host(`rsshub.oxcafebabe.cn`)"
      - "traefik.http.routers.rsshub.entrypoints=websecure"
      - "traefik.http.services.rsshub.loadbalancer.server.port=1200"
      - "traefik.http.routers.rsshub.service=rsshub"
      - "traefik.http.routers.rsshub.tls.certresolver=leresolver"
networks:
  traefik-public:
    external: true
