services:
  openlist:
    image: alpine:latest
    container_name: openlist
    networks:
      - traefik-public
    labels:
      - traefik.enable=true
      - traefik.http.routers.openlist.rule=Host(`openlist.oxcafebabe.cn`)
      - traefik.http.routers.openlist.entrypoints=websecure
      - traefik.http.services.openlist.loadbalancer.server.url=${OPEN_LIST_URL}
      - traefik.http.routers.openlist.service=openlist
      - traefik.http.routers.openlist.tls.certresolver=leresolver
networks:
  traefik-public:
    external: true
